{% load static %}
<nav class="navbar navbar-dark bg-main-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'media/ico.jpg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      HybaseDrive
    </a>

    <div class="navbar-nav">

          {% if request.user.is_authenticated %}
            <span class="badge bg-primary-dark text-uppercase" >{{request.user}} &emsp; <a href="{% url 'logout' %}" class="link-info">Logout</a></span>
          {% else %}
            <a class="link-info" aria-current="page" href="{% url 'login' %}">Login</a>
          {% endif %}

    </div>
  </div>
</nav>